
body{
    font-family: Arial, sans-serif;
    text-align: center;
}
#container {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 100px;
}
input{
    width:120px;
    padding:10px;
    font-size:18px;
    text-align:center;
    margin-top: 20px;
}
button{
    padding:10px 20px;
    font-size:18px;
    cursor:pointer;
    margin-left:10px;
}

#result{
    margin-top:20px;
    font-size:24px;
    font-weight:bold;
}

#images{
    margin-top:20px;
}

#images img{
    width:80px;
    margin:5px;
}